name: "Run Project Status Checker"

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: "main"

permissions: {}

jobs:
  run-project-status-checker:
    name: Run Project Status Checker
    runs-on: ubuntu-latest
    permissions:
      contents: write # For committing changes to the repository
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Project Status Checker
        uses: JackPlowman/project-status-checker@354a9e9aefe8f0d6dca155a294a0f594973e9f35 # v1.1.0
        with:
          config_file_path: "github/workspace/status-checker-config.json"
          database_file_path: "github/workspace/status-checker-database.db"
      - name: Commit & Push changes
        uses: actions-js/push@5a7cbd780d82c0c937b5977586e641b2fd94acc5 # v1.5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
